@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --text-dark: grey;
  --white: #ffffff;
  --max-width: 1600px;
  --background-color: rgb(243, 244, 230);
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
}

/* Navbar */
.nav_head {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--black);
}

/* Hero Section */
.container img {
  position: absolute;
  width: 100%;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 1.8));
  z-index: -1;
}

.container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: var(--black);
  letter-spacing: 25px;
}

.subtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 155px));
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 600px;
  color: var(--black);
}

/* Button Styles */
.btn {
  padding: 1rem 2rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.container .explore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 240px));
  background-color: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

/* About Section */
.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 150px auto;
  padding: 50px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-content {
  padding-left: 50px;
  text-align: right;
}

.about-content h2 {
  font-size: 3rem;
  color: var(--background-color);
}

.about-content p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 1.6;
}

/* Animations */
@keyframes fade__in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    padding-left: 0;
    text-align: center;
  }
}
